@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h3>BUrası kendi oluşturduğumuz view sayfasıdır.</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>DEPARTMAN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Tuğba</td>
            <td>Dokumacı</td>
        </tr>
    </tbody>
</table>
